

[Unit]
Description=Turning on LEDs on Wayland - periodic task.

[Service]
Type=simple
ExecStart=/usr/bin/nice -n 19 /opt/led-wayland/keyboard_leds.sh /sys/class/leds/  0.2

[Install]
WantedBy=multi-user.target